@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-white rounded-xl border-gray-200 shadow-md overflow-hidden relative;
}

.btn {
  @apply xs:max-md:rounded-lg md:rounded-r-lg py-2 px-3 uppercase text-xs font-bold tracking-wider cursor-pointer;
}
